<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- tapDame.mapper:根标签，namespace：命名空间，随便写，一般保证命名空间唯一 -->
<mapper namespace="tapDame.dao.FarmContralDao">
    <!-- statement，内容：sql语句。id：唯一标识，随便写，在同一个命名空间下保持唯一
       resultType：sql语句查询结果集的封装类型,tb_user即为数据库中的表
     -->


    <resultMap  id="goodResult" type="tapDame.pojo.FarmControl">
        <id property="humidity" column="humidity"/>
        <result property="tmp" column="tmp"/>
        <result property="need" column="need"/>

    </resultMap>


    <select id="findByHT" resultType="tapDame.pojo.FarmControl">
        select * from farm_control
        where humidity=#{humidity} and tmp=#{tmp}

    </select>

    <insert id="addFarmControl">
        insert
        into farm_control(humidity,tmp,need)
        value (#{humidity},#{tmp},#{need})
    </insert>

    <update id="updateFarmControl">
        update farm_control set
            humidity=#{humidity},
            tmp=#{tmp},
            need=#{need}
    </update>


</mapper>