<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- tapDame.mapper:根标签，namespace：命名空间，随便写，一般保证命名空间唯一 -->
<mapper namespace="tapDame.dao.FarmStatusDao">
    <!-- statement，内容：sql语句。id：唯一标识，随便写，在同一个命名空间下保持唯一
       resultType：sql语句查询结果集的封装类型,tb_user即为数据库中的表
     -->


    <resultMap  id="goodResult" type="tapDame.pojo.FarmStatus">
        <id property="tapId" column="tap_id"/>
        <result property="camera" column="camera"/>
        <result property="sensor1" column="sensor1"/>
        <result property="sensor2" column="sensor2"/>
        <result property="sensor3" column="sensor3"/>
        <result property="sensor4" column="sensor4"/>
        <result property="sensor5" column="sensor5"/>
        <result property="lastTime" column="last_time"/>
        <result property="humidity" column="humidity"/>
    </resultMap>


    <select id="findByFId" resultType="tapDame.pojo.FarmStatus">
        select * from farm_status where tap_id = #{tapId}
    </select>

    <insert id="addFarmStatus">
        insert
        into farm_status(tap_id,camera,sensor1,sensor2,sensor3,sensor4,sensor5,last_time,humidity)
        value (#{tapId},#{camera},#{sensor1},#{sensor2},#{sensor3},#{sensor4},#{sensor5},#{lastTime},#{humidity})
    </insert>

    <update id="updateFarmStatus">
        update farm_status set
            tap_id=#{tapId},
            camera=#{camera},
            sensor1=#{sensor1},
            sensor2=#{sensor2},
            sensor3=#{sensor3},
            sensor4=#{sensor4},
            sensor5=#{sensor5},
            last_time=#{lastTime},
            humidity=#{humidity}
    </update>

    <delete id="delFarmStatus">
        select *from farm_status where tap_id = #{tapId}
    </delete>


</mapper>